__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

env/
venv/
.venv/
fint_tune_vit/

vit-stanford-dogs-finetuned/
output/
checkpoint-*/
runs/
*.safetensors
*.bin
*.pt
*.pth
*.json
!src/*.json

data/
*.jpg
*.png
*.zip